---
import Layout from "../components/Layout.astro";
---

<Layout pageTitle="Pagina Inicial" pageDescription="Esta es una pagina para ofrecer servicios para ofrecer servicios de desarrollo">
  <h1>Home Page</h1>
  <p>Bienvenido a mi blog</p>
</Layout>
