---
import Layout from "../components/Layout.astro";
import Card from "../components/card.astro";
---

<Layout pageTitle="Mis Servicios">
  <h1>Mis Servicios</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
    voluptatibus nam provident quam excepturi sed aliquid cupiditate magnam
    facilis? Corporis.
  </p>

  <Card title="Hola Mundo" content="Este es una prueba" />
  <Card title="Programacion" content="Servicios de desarrollo" />
  <Card title="Diseño" content="Diseño de interfaces web" />
  <Card
    title="Asistencia Profesional"
    content="Ofrecemos asistencia profesional"
  />
  <Card />
</Layout>
