---
interface Props {
  pageTitle?: string;
  pageDescription?: string;
}
const { pageTitle, pageDescription } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro Curso | {pageTitle}</title>
    <meta name="description" content={pageDescription} />
  </head>
  <body>
    <slot />

    <style>
      body {
        background-color: #202020;
        color: white;
      }
    </style>
  </body>
</html>
